<footer class="border-top mt-5">
    <div class="container py-5">
        <div class="row gy-4">

            <div class="col-12 col-md-4 col-lg-3">
                <a href="/" class="d-flex align-items-center mb-3 text-decoration-none">
                    <span class="fs-5 fw-bold">MySite</span>
                </a>
                <p class="text-body-secondary">© 2025</p>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <h6>Section</h6>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link p-0 text-body-secondary" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-body-secondary" href="#">Features</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-body-secondary" href="#">Pricing</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-4 col-lg-3">
                <h6>Section</h6>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link p-0 text-body-secondary" href="#">FAQs</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-body-secondary" href="#">About</a></li>
                </ul>
            </div>

            <div class="col-12 col-lg-3">
                <h6>Section</h6>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link p-0 text-body-secondary" href="#">Contacts</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-body-secondary" href="#">Privacy</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>
